@using MidNightMagicLibrary.Models

@model Category

<form method="post" asp-controller="Category" asp-action="Edit">
<input asp-for="@Model.Id" hidden/>
<label asp-for="@Model.Name"></label>
<input asp-for="@Model.Name" />
<label asp-for="@Model.DisplayOrder"></label>
<input asp-for="@Model.DisplayOrder" />
<button type="submit">Update</button>
</form>