@using MidNightMagicLibrary.Models
@model Product

<form method="post" asp-controller="ShoppingCart" asp-action="Create">
    <p>@Model.Title</p>
    <p>@Model.Author</p>
    <p>@Model.Description</p>
    <p>@Model.Category.Name</p>
    <p>@Model.Price</p>
    <p>@Model.Title</p>
    <input asp-for="@Model.Id" hidden/>
    <input asp-for="@Model.Count" />
    <input asp-for="@Model.Price" hidden/>

    <img src="@Model.ImageUrl" />
    <button type="submit" class="btn btn-primary">Add to shopping cart</button>
</form>

