@using MidNightMagicLibrary.Models
@model Product

<p>@Model.Title</p>
<p>@Model.Author</p>
<p>@Model.Description</p>
<p>@Model.Category.Name</p>
<p>@Model.Price</p>
<p>@Model.Title</p>
<input asp-for="@Model.Count"/>
<img src="@Model.ImageUrl"/>
<a asp-controller="ShoppingCart" asp-action="Add">
    Add to shopping cart
</a>